{
    font-family:arial;
    font-style:italic;
    box-sizing:border-box;
    
}

body{
    margin:10 px;
    padding:10 px;
}

   

header{
    font-size: 30px;
    padding-bottom: 20px;
    background-color: cyan;
    margin-bottom: 15px;
    border: 1px solid black;

}

nav{
    padding: 0px 10px 20px 10px;
    background-color:magenta;
    width:90%;
    margin:0 auto;
    border: 1px solid black;
   
}

section{
    background:slateblue;
    font-size: 30px;
    width:60%;
    height: 350px;
    border: 2px solid black;
    float: left;


    
}
article{
    font-size: 22px;
    background-color: pink;
    padding: 20px;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    
}

    
aside{
    background:salmon;
    font-size: 30px;
    width:38%;
    height: 350px;
    border: 1px solid black;
    float: right

    
}


footer{
    background-color:  aqua;
    font-size: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
    margin-top: 21%;
    height: 30px;
    clear: both;
}







